body {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bdd5ea;
  /* #eccaff */
  /* #d8caff */
}

.App {
  text-align: center;
}

.container {
  max-width: 600px;
  /* height: 800px; */
  border: 2px solid #b100e8;
  border-radius: 0.5rem;
  box-shadow: 16px 15px 27px -11px rgba(134, 0, 134, 0.63);
  align-content: center;
  padding: 20px 40px;
}
.container > h1 {
  padding-bottom: 25px;
  margin: 0;
  font-size: 28px;
}
.formGroup {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.todoInput {
  width: 200px;
  
  font-family: 'Work Sans', sans-serif; 
  padding: 0;
  margin: 0;
  color: #FFF;
}
.addBtn {
  font-family: 'Work Sans', sans-serif;
  height: 40px;
}
.delBtn {
  width: 35px;
  margin-left: 15px;
  padding-left: 15px;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.todoContainer > p {
  margin: 0;
}
.todoText {
  margin-right: 20px;
  padding: 10px 0;
} 